@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
    --cor1: #23306F;
    --cor2: #495ca1;
    --cor3: #4da7f0;

    --font-padrao: 'Ubuntu', 'Arial', 'sans-serif';
    --fonte-footer: 'Robot-Slab', 'Arial', 'sans-serif';
}

* { /* Configurações globais */
    font-family: 'Ubuntu', 'Robot Slab', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    transition: all 0.5s;
}



body{
    background: rgb(78,84,200);
    background-image: linear-gradient(300deg, var(--cor1), var(--cor2), var(--cor3));
    background-attachment: fixed;
}

header{
    display: inline-block;
    background-image: linear-gradient(300deg, var(--cor1), var(--cor2), var(--cor3));
    height: 100px;
    width: 100%;
}

.tier{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 200px;
    top: 13px;
}

.sobre {
    font-family: var(--font-padrao);
    text-align: center;
    margin-top: 30px;
    margin-left: 900px;
    color: white;
    width: 135px;

}

.sobre:hover{
    text-shadow: 1px 1px 10px white;
}

.blog {
    font-family: var(--font-padrao);
    text-align: center;
    margin-top: -30px;
    margin-left: 1070px;
    color: white;
    width: 135px;
}

.blog:hover{
    text-shadow: 1px 1px 10px white;
}

.portfolio {
    font-family: var(--font-padrao);
    text-align: center;
    margin-top: -30px;
    margin-left: 1230px;
    color: white;
    width: 135px;
}

.portfolio:hover{
    text-shadow: 1px 1px 10px white;
}

.trabalhe_header{
    font-family: var(--font-padrao);
    font-size: 25px;
    position: relative;
    top: -45px;
    margin-left: 1420px;
    height: 60px;
    width: 270px;
    border-style: none;
    border-radius: 50px;
    background-color: #FF6496;
    color: white;
}

.trabalhe_header:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px red;
}

.imagem-main {
    width: auto;
    height: 500px;
    margin-left: 1000px;
}
